
<ul class="gallery">
	<li>
		<a href="images/thumbs/1.jpg"><img src="images/thumbs/1.jpg"/></a>
	</li>
	<li>
		<a href="images/thumbs/2.jpg"><img src="images/thumbs/2.jpg"/></a>
	</li>
	<li>
		<a href="images/thumbs/3.jpg"><img src="images/thumbs/3.jpg"/></a>
	</li>
	<li>
		<a href="images/thumbs/4.jpg"><img src="images/thumbs/4.jpg"/></a>
	</li>
	<li>
		<a href="images/thumbs/5.jpg"><img src="images/thumbs/5.jpg"/></a>
	</li>
	<li>
		<a href="images/thumbs/6.jpg"><img src="images/thumbs/6.jpg"/></a>
	</li>
	<li>
		<a href="images/thumbs/7.jpg">
			<img src="images/thumbs/7.jpg"/>
		</a>
	</li>
	<li>
		<a>
			<img src="images/thumbs/8.jpg"/>
		</a>
	</li>
	<li>
		<a>
			<img src="images/thumbs/9.jpg"/>
		</a>
	</li>
	<li>
		<a>
			<img src="images/thumbs/10.jpg"/>
		</a>
	</li>
	<li>
		<a>
			<img src="images/thumbs/11.jpg"/>
		</a>
	</li>
	<li>
		<a>
			<img src="images/thumbs/12.jpg"/>
		</a>
	</li>

	<li>
		<a>
			<img src="images/thumbs/13.jpg"/>
		</a>
	</li>
	<li>
		<a>
			<img src="images/thumbs/14.jpg"/>
		</a>
	</li>
	<li>
		<a>
			<img src="images/thumbs/15.jpg"/>
		</a>
	</li>
</ul>




