 <ul class="gallery">
        <li>
            <a href="#" onclick="return false;"><img src="images/thumbs/1.jpg"><br>
            	<label>Cambridge, MA</label> 
            </a>
        </li>
        <li>
            <a href="#" onclick="return false;"><img src="images/thumbs/2.jpg"><br>
            	<label>Tokyo, Japan</label>
            </a>
        </li>
        <li>
            <a href="#" onclick="return false;"><img src="images/thumbs/3.jpg"><br>
            	<label>San Francisco, CA</label>
            </a>
        </li>
        <li>
            <a href="#" onclick="return false;"><img src="images/thumbs/4.jpg"><br>
            	<label>Okinawa, Japan</label>
            </a>
        </li>
        <li>
            <a href="#" onclick="return false;"><img src="images/thumbs/5.jpg"><br>
            	<label>Singapore, Singapore</label>
            </a>
        </li>
        <li>
            <a href="#" onclick="return false;"><img src="images/thumbs/6.jpg"><br>
            	<label>New Delhi, India</label>
            </a>
        </li>
        <li>
            <a href="#" onclick="return false;"><img src="images/thumbs/7.jpg"><br>
            	<label>Mustang, Nepal</label>
            </a>
        </li>
        <li>
            <a href="#" onclick="return false;"><img src="images/thumbs/8.jpg"><br>
            	<label>Oxford, UK</label>
            </a>
        </li>
        <li>
            <a href="#" onclick="return false;"><img src="images/thumbs/9.jpg"><br>
            	<label>Stamford, VA</label>
            </a>
        </li>
        <li>
            <a href="#" onclick="return false;"><img src="images/thumbs/10.jpg"><br>
            	<label>Fairfield, CT</label>
            </a>
        </li>
        <li>
            <a href="#" onclick="return false;"><img src="images/thumbs/11.jpg"><br>
            	<label>Beijing, China</label>
            </a>
        </li>
        <li>
            <a href="#" onclick="return false;"><img src="images/thumbs/12.jpg"><br>
            	<label>Brussels, Belgium</label>
            </a>
        </li>
        <li>
            <a href="#" onclick="return false;"><img src="images/thumbs/13.jpg"><br>
            	<label>Paris, France</label>
            </a>
        </li>
        <li>
            <a href="#" onclick="return false;"><img src="images/thumbs/14.jpg"><br>
            	<label>London, UK</label>
            </a>
        </li>
        <li>
            <a href="#" onclick="return false;"><img src="images/thumbs/15.jpg"><br>
            	<label>Osaka, Japan</label>
            </a>
        </li>
    </ul>